<article>
  <section>

    <form name="form" #f="ngForm" autocomplete="off" novalidate="" class="container" style="width:35%">

<fieldset>
  <div class="text-center">
    <h2 class="well">Generate Barcodes</h2>
  </div>
  <div class="alert alert-danger alert-dismissible text-center" *ngIf="showErrors && f.invalid">
          Please correct the highlighted fields. &nbsp;
  </div>

  <div class="alert alert-success alert-dismissible text-center" *ngIf="showErrors && f.valid">
          Data is valid, you may continue &nbsp;
  </div>
  <div class="form-group">
    <label>Country </label>
    <select class="form-control input-sm-4" name="Country" id="Country" [(ngModel)]="frm.Country" #Country="ngModel" required>
                              <option value="" selected>Select</option>
                              <option value="Australia">Australia</option>
                              <option value="Canada">Canada</option>
                          </select>
    <div class="has-error">
      <div *ngIf="Country.invalid && showErrors ">
        <label *ngIf="Country.errors.required">Please select a Country</label>
      </div>
      &nbsp;</div>
  </div>

  <div class="form-group ">
    <label>Kit type</label>
    <select class="form-control input-xs-4" name="Kittype" id="Kittype" [(ngModel)]="frm.Kittype" #Kittype="ngModel" required>
                            <option value="" selected>Select</option>
                            <option value="Medication">Medication</option>
                            <option value="Nutrition">Nutrition</option>
                            <option value="Lifestyle">Lifestyle</option>
                            <option value="AppConference">APP Conference</option>
                        </select>
    <div class="has-error">
      <div *ngIf="Kittype.invalid && showErrors ">
        <label *ngIf="Kittype.errors.required">Please select Kit</label>
      </div>
      &nbsp;</div>
  </div>

  <div class="form-group">
    <label>Quantity required (1 - 99,999) </label>
    <input type="text" class="form-control input-xs-4" name="Quantity" id="Quantity" [(ngModel)]="frm.Quantity" required maxlength="5"
      #Quantity="ngModel" [pattern]="numberPattern" />
    <div class="has-error">
      <div *ngIf="Quantity.invalid && showErrors">
        <label *ngIf="Quantity.errors.required">Please enter quantity</label>
        <label *ngIf="Quantity.errors.pattern">Please enter a valid number</label>
      </div>
      &nbsp;</div>
  </div>
  <div class="form-group text-left" *ngIf="!showTable">
    
  </div>
  <div class="form-group text-center">
    <button  type="submit" class="btn btn-primary text-left" *ngIf="!showTable" (click)="transactionMessage = false;">Back</button>
    <button class="btn btn-primary" type="submit" (click)="f.valid?AddBatchclicked():showErrors=true;transactionMessage = false;">Generate Batch</button>
  </div>

  <div id="transactionMessageDiv" class="alert alert-success alert-dismissible text-center" *ngIf="transactionMessage" >
          {{frm.message}}
  </div>
  <div class="form-group container-fluid">

    <div *ngIf="showTable" >
      <h4 class="text-center">Batch Details</h4>
      <table class="table table-bordered table-striped text-center">
        <thead class="text-center">
          <th class="text-center">Batch Number</th>
          <th class="text-center">Country</th>
          <th class="text-center">Kit type</th>
          <th class="text-center">Quantity</th>
          <th> </th>
        </thead>
        <tbody>
          <tr *ngFor="let batchItem of batches">
            <td>{{batchItem.BatchNumber}}</td>
            <td>{{batchItem.Country}}</td>
            <td>{{batchItem.KitType}}</td>
            <td>{{batchItem.NumberOfBarcodesGenerated}}</td>
            <td> <button class="btn btn-danger" type="reset" (click)="transactionMessage = false;CancelBatch(batchItem.Id)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="form-group text-center" *ngIf="showTable">
    <button (click)="ExportToCSVClick();transactionMessage = false;" type="submit" class="btn btn-success">Export To CSV</button>
  </div>

</fieldset>
</form>
</section>
</article>